<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <script>
      Handlebars.registerHelper('remark', function (aString) {
    if(aString == "new")
    {
      return aString;
    }
})
    </script>
</head>
<body>
<ul>
  {{#each blogs}}
    <li>{{remark this.remark}}</li>
  {{/each}}
</ul>
</body>
</html>